@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Marvel';
}
body{
    overflow-x: hidden;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
   
}
.App h4{
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
}
.head{
    background-color: red;
    max-width: 100vw;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./Marvel-Vs.-DC.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    overflow: hidden;
}
.head input[type='text']{
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family:'Marvel';
    text-align:right;
}
.head button{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: .7rem;
    font-family:'Marvel' ;
    font-weight: 700;
    color: #fff;
    background-color:white;
}
button img{
    filter:grayscale(23);
}
.head button:hover{
    cursor: pointer;
    background-color: black;
}
.head h3{
    font-size: 3rem;
    font-family:'Marvel' ;
    color: #fff;
    text-shadow: 1px 2px 2px black;
}
.heroContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100vw;
    justify-content: center;
    z-index: 9;
    font-family:'Marvel';
    overflow-x: hidden;
}
.heroContainer .name{
    text-align: center;
    text-shadow: 1px 2px 1px black;
}
.hero{
    background-color: #181818aa;
    color: white;
    width: 200px;
    font-family:'Marvel';
    overflow: hidden;
    box-shadow: 1px 1px 1px black;
}
.hero img{
    width: 100%;
}
.skills{
    padding: 10px;
    text-shadow: 1px 1px 1px black;
}
@media screen and (max-width:414px) {
    .hero img{
        height: 400px;
    }
    .hero{
        width: 350px;
    }
    .head h3{
        font-size: 2rem; ;
    }
}
@media screen and (max-width:320px) {
    .hero img{
        height: 300px;
    }
    .hero{
        width: 250px;
    }
}